
.side-bar{
    text-decoration: none;
    width:600px;
    height:100vh;
    color:white;
    background-color:#122829e1;
    
}
 .card-container{ 
     width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-columns: repeat(4,300px);
    gap: 1rem;
    background-color :#0f171e; 
    
}
.card-body{
    display: grid;
    gap:2rem;
   
} 
.side-bar{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width:400px;
    height:100vh;
    color:white;
    background-color:#122829e1; } 
